extends ../base

block content
    div
        h3= video.title
        p= video.description
        small= video.createAt
        ul
            each hashtag in video.hashtags
                li= hashtag
    a(href=`${video.id}/edit`) Edit Video &xrarr;
    br
    a(href=`${video.id}/remove`) Delete Video &xrarr;